body {
	text-align: center;
}

ul {
	height: 85px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: antiquewhite;
}

li {
	display: block;
	padding: 20px;
	font-weight: 900;
	line-height: 30px;
	border-radius: 50%;
	border: 1px solid #222;
	width: 30px;
	height: 30px;
	animation-name: slide;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	margin: 0px 5px;
}

@keyframes slide {
	from {
		font-size: 5px;
	}

	to {
		font-size: 25px;
	}
}

ul li:nth-last-child(-n + 2) {
	color: orange;
}

#formContainer {
	margin-top: 20px;
}

/*Date*/

#birthDate {
	background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50%
		no-repeat;
}

#birthDate::-webkit-inner-spin-button {
	display: none;
}

#birthDate::-webkit-calendar-picker-indicator {
	opacity: 0;
}

input {
	text-transform: uppercase;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	background-color: #fff;
	padding: 3px 5px;
	box-shadow: inset 0 3px 6px #0000001a;
	width: 190px;
	font-size: 20px;
	margin: 0px 20px;
}

#displayButton {
	cursor: pointer;
	margin: auto;
	width: 100px;
	height: 100px;
	margin-top: 50px;
	padding: 10px;
	background-color: aquamarine;
	user-select: none;
	border: 1px solid #c4c4c4;
	border-radius: 20%;
	background-image: url(images/EuroMillions.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#displayButton:active {
	border: none;
}
