body {
	text-align: center;
	font-family: 'Arimo', sans-serif;
}

h1 {
	padding: 30px;
	font-size: 50px;
	font-weight: 700;
}

ul {
	height: 85px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: antiquewhite;
}

li {
	display: block;
	padding: 20px;
	font-weight: 900;
	line-height: 30px;
	border-radius: 50%;
	border: 1px solid #222;
	width: 30px;
	height: 30px;
	animation-name: expand;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	-webkit-animation-name: expand;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	margin: 0px 5px;
}

@keyframes expand {
	from {
		font-size: 1px;
		width: 1px;
		height: 1px;
		line-height: 1px;
		padding: 0px;
	}

	to {
		font-size: 25px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		padding: 20px;
	}
}

@-webkit-keyframes expand {
	from {
		font-size: 1px;
		width: 1px;
		height: 1px;
		line-height: 1px;
		padding: 0px;
	}

	to {
		font-size: 25px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		padding: 2 0px;
	}
}

.luckyStars {
	color: orange;
}

#formContainer {
	margin-top: 20px;
}

/*Date*/

#birthDate {
	background: #fff url(images/calendar_2.png) 97% 50% no-repeat;
}

#birthDate::-webkit-inner-spin-button {
	display: none;
}

#birthDate::-webkit-calendar-picker-indicator {
	opacity: 0;
}

input {
	text-transform: uppercase;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	background-color: #fff;
	padding: 3px 5px;
	box-shadow: inset 0 3px 6px #0000001a;
	width: 190px;
	font-size: 20px;
	margin: 0px 20px;
}

/*BUTTONS*/
.buttonsContainer {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#EMButton,
#LButton {
	margin: 0px 10px;
	cursor: pointer;
	width: 100px;
	height: 100px;
	padding: 10px;
	user-select: none;
	border-radius: 20%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 5px 1px #222;
	-moz-box-shadow: 0px 0px 5px 1px #222;
	box-shadow: 0px 0px 5px 1px #222;
}

#LButton {
	background-image: url(images/lottoIcon.png);
}

#EMButton {
	background-image: url(images/EuroMillions.jpg);
}

#EMButton:active,
#LButton:active {
	-webkit-box-shadow: 0px 0px 5px 0px #222;
	-moz-box-shadow: 0px 0px 5px 0px #222;
	box-shadow: 0px 0px 5px 0px #222;
}
